nav {
    background-color: rgb(140, 138, 138);
    padding: 20px 40px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

ul a {
    text-decoration: none;
    margin-left: 30px;
    color: rgb(233, 233, 233);
}

